* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecera {
    width: 100vw;
    background-color: lightgray;
    color: rgb(86, 86, 86);
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    position: fixed;
    z-index: 10;    
}

.barramenu{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    margin: 10px;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menus{
    margin: 0px 10px;
    display: inline-block;
    list-style: none;
}

.menus ul{
    font-size: 16px;
    display: none;
    position: absolute;
}

.menu li:hover ul{
    display: block;
}

.menus ul li{
    list-style: none;
    background-color: lightgray;
    padding: 5px;
}
